body {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-screen {
  background-color: var(--blue);
}

.user-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  width: 480px;
  height: 350px;
  background-color: white;
  border-radius: 5px;
}

.user-section__profile {
  position: absolute;
  top: -100px;
  width: 180px;
  height: 180px;
  background-color: black;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.user-section__profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.user-section span {
  margin-top: 10px;
}

.user-section__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.user-section__name {
  font-size: 30px;
  font-weight: 600;
}

.user-section__address1,
.user-section__address2 {
  color: rgba(0, 0, 0, 0.5);
}

.user-section__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.user-section__btns button {
  width: 130px;
  height: 50px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
}

.user-section__btns button:first-child {
  background-color: white;
  color: var(--blue);
  border: 2px solid var(--blue);
  margin-right: 10px;
}

.user-section__btns button:last-child {
  background-color: var(--blue);
  color: white;
  border: none;
}

.viewer-section {
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.viewer-section div {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.viewer-section span:first-child {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 5px;
}

.viewer-section span:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.highlights-section {
  margin-top: 12px;
  width: 480px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}

.highlights-section__title {
  display: block;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  margin-bottom: 10px;
}

.highlights-section__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  animation: 2s lineUp ease-out;
}

.highlights-section__cover {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  margin-right: 10px;
}

.highlights-section__cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.highlights-section__text__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.highlights-section__text__content {
  color: rgba(0, 0, 0, 0.5);
}

.highlights-section__text__title-sm {
  color: rgba(0, 0, 0, 0.5);
}

@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /* animation이 끝난 후에도 화면에 투명하게 남아있어 클릭이 안되서 사용
      하지만 여전히 html은 남아있음, 완전히 제거하고 싶다면 javascript 필요
    */
  }
}

#splash-screen {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  animation: hideSplashScreen 4.6s steps(1, end) forwards;
  /* forwards => animation 끝난 후에도 마지막 조건 적용 */
}
